:root {
  --color1: #bc13fe;
  --color2: #4c377c;
  --color3: #9848a2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  height: 100vh;
  width: 100vw;
  color: white;
  /* background-color: black; */
  background-image: url(../img/kino4.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.name {
  font-size: 20px;
}

.bg {
  position: absolute;
  background-color: black;
  height: 100vh;
  width: 50vw;
  opacity: 0.5;
  backdrop-filter: blur(3px);
}

table {
  padding: 20px;
  position: relative;
}

th {
  text-align: center;
}

td {
  padding: 0px 30px 0px 30px;
  padding-top: 20px;
}

h1 {
  position: relative;
  text-align: center;
  border: white solid 2px;
  border-radius: 20px;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
    0 0 0.1rem #bc13fe, 0 0 1.1rem #bc13fe, inset 0 0 2.5rem #bc13fe;
  animation: pulsate_box 1.5s infinite alternate;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  font-size: 20px;
}

footer {
  position: absolute;
  bottom: 0;
  padding: 20px;
  background-color: black;
  width: 100vw;
  flex-wrap: wrap;
}

nav {
  position: absolute;
  top: 0%;
  width: 100vw;
  height: 70px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  /* background: linear-gradient(90deg,rgba(0,0,0,0.5)); */
  color: white;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 20px;
  font-size: 20px;
  position: relative;
}

nav a:hover {
  color: #fff;
  text-shadow: 0 0 7px var(--color1), 0 0 10px var(--color1),
    0 0 21px var(--color1), 0 0 42px var(--color1), 0 0 82px var(--color1),
    0 0 92px var(--color1), 0 0 102px var(--color1), 0 0 151px var(--color1);
  transition: 0.3s;
  /* animation: pulsate_text 0.5s infinite alternate; */
}

.nav__logo {
  position: relative;
  /* max-width: 10vw; */
  left: 0;
  max-height: 70px;
}

.kontakt {
  color: white;
}

.footer {
  display: flex;
  position: absolute;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  height: 70px;
}

.footer__link {
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  text-decoration: none;
  color: white;
}

.footer__link:hover {
  color: #fff;
  text-shadow: 0 0 7px var(--color1), 0 0 10px var(--color1),
    0 0 21px var(--color1), 0 0 42px var(--color1), 0 0 82px var(--color1),
    0 0 92px var(--color1), 0 0 102px var(--color1), 0 0 151px var(--color1);
  transition: 0.3s;
  /* animation: pylsate_text 1.5s infinite alternate; */
}

span {
  position: relative;
  width: 100%;
  height: 4px;
  border-radius: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
  border: 2px solid white;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
    0 0 2.1rem #bc13fe, 0 0 2.1rem #bc13fe, inset 0 0 2.5rem #bc13fe;
  animation: pulsate_box 1.5s infinite alternate;
}

.container__table {
  position: relative;
}

@keyframes pulsate_box {
  100% {
    box-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 20px #bc13fe,
      0 0 30px #bc13fe, 0 0 50px #bc13fe, 0 0 40px #bc13fe, 0 0 50px #bc13fe;
  }

  0% {
    box-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 10px #bc13fe,
      0 0 25px #bc13fe, 0 0 25px #bc13fe, 0 0 30px #bc13fe, 0 0 50px #bc13fe;
  }
}

@keyframes pulsate_text {
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 20px #bc13fe,
      0 0 30px #bc13fe, 0 0 50px #bc13fe, 0 0 40px #bc13fe, 0 0 50px #bc13fe;
  }

  0% {
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 10px #bc13fe,
      0 0 25px #bc13fe, 0 0 25px #bc13fe, 0 0 30px #bc13fe, 0 0 50px #bc13fe;
  }
}
