* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 50vw;
  position: absolute;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

:root {
  --color1: #bc13fe;
  --color2: #4c377c;
  --color3: #9848a2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  width: 100vw;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  background-image: url(./img/kino2.jpg);
}

.logo__kodzik {
display: grid;
grid-template-columns: auto auto;
border: #bc13fe solid 3px;
}

nav {
  position: absolute;
  top: 0%;
  width: 100vw;
  height: 70px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 20px;
  font-size: 20px;
  position: relative;
}

nav a:hover {
  color: #fff;
  text-shadow: 0 0 7px var(--color1), 0 0 10px var(--color1),
    0 0 21px var(--color1), 0 0 42px var(--color1), 0 0 82px var(--color1),
    0 0 92px var(--color1), 0 0 102px var(--color1), 0 0 151px var(--color1);
  transition: 0.3s;
}

.nav__logo {
  position: relative;
  max-width: 10vw;
  left: 0;
  max-height: 70px;
}

.bg {
  position: absolute;
  background-color: black;
  height: 100vh;
  width: 50vw;
  opacity: 0.5;
  backdrop-filter: blur(3px);
}

.content {
  position: absolute;
  color: white;
  max-width: 30vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
}

.content h1 {
  padding: 0px 40px;
  margin-bottom: 40px;
  border: white solid 2px;
  border-radius: 20px;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
    0 0 0.1rem #bc13fe, 0 0 1.1rem #bc13fe, inset 0 0 2.5rem #bc13fe;
  animation: pulsate_box 1.5s infinite alternate;
}

footer {
  position: absolute;
  bottom: 0;
  padding: 20px;
  background-color: black;
  width: 100vw;
  flex-wrap: wrap;
}

.kontakt {
  color: white;
}

.footer {
  display: flex;
  position: absolute;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  height: 70px;
}

.footer__link {
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  text-decoration: none;
  color: white;
}

.footer__link:hover {
  color: #fff;
  text-shadow: 0 0 7px var(--color1), 0 0 10px var(--color1),
    0 0 21px var(--color1), 0 0 42px var(--color1), 0 0 82px var(--color1),
    0 0 92px var(--color1), 0 0 102px var(--color1), 0 0 151px var(--color1);
  transition: 0.3s;
}

@keyframes pulsate_box {
  100% {
    box-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 20px #bc13fe,
      0 0 30px #bc13fe, 0 0 50px #bc13fe, 0 0 40px #bc13fe, 0 0 50px #bc13fe;
  }

  0% {
    box-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 10px #bc13fe,
      0 0 25px #bc13fe, 0 0 25px #bc13fe, 0 0 30px #bc13fe, 0 0 50px #bc13fe;
  }
}

.dot_parent {
  position: relative;
}

.dots {
  position: absolute;
  transform: rotate(270deg) translateX(-300px);

}

