*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  width: 55%;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  min-height: calc(100vh - 140px);
  color: white;
  padding: 0 5rem;
}

.slideshow-container {
  width: 100%;
  position: relative;
  margin: 5rem 0 0 0;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img {
  height: 50vh;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.slider {
  width: 100%;
  height: 50%;
}

/* .dots {
    margin-bottom: 0.25rem;
} */

.grid {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.zdjecia {
  position: relative;
  margin: 2rem 0.25rem;
}

.zdjecia h5 {
  position: absolute;
  text-align: center;
  width: 100%;
  transition: all 0.3s;
}

.zdjecia:hover h5 {
  transform: translate(0, -20px);
}

.grid a:is(:link, :visited) {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.zdjecia img {
  transition: all 0.3s;
}

.zdjecia:hover img {
  opacity: 0.5;
  transform: translate(0, -20px);
  /* filter: alpha(opacity=70); */
}

.zdjecia p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -120%);
  opacity: 0;
  transition: all 0.5s;
  border: solid 2px #fff;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
    0 0 0.1rem #bc13fe, 0 0 1.1rem #bc13fe, inset 0 0 2.5rem #bc13fe;
  padding: 0.5rem 1rem;
}

.zdjecia:hover p {
  opacity: 1;
}
