:root {
  --color1: #bc13fe;
  --color2: #4c377c;
  --color3: #9848a2;
}

nav {
  width: 100%;
  height: 70px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 20px;
  font-size: 20px;
  position: relative;
}

nav a:hover {
  color: #fff;
  text-shadow: 0 0 7px var(--color1), 0 0 10px var(--color1),
    0 0 21px var(--color1), 0 0 42px var(--color1), 0 0 82px var(--color1),
    0 0 92px var(--color1), 0 0 102px var(--color1), 0 0 151px var(--color1);
  transition: 0.3s;
}

.nav__logo {
  position: relative;
  max-height: 70px;
  left: 0;
}

.footer {
    position: absolute;
    bottom: 0;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  height: 70px;
}

.footer__link {
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  text-decoration: none;
  color: white;
}

.footer__link:hover {
  color: #fff;
  text-shadow: 0 0 7px var(--color1), 0 0 10px var(--color1),
    0 0 21px var(--color1), 0 0 42px var(--color1), 0 0 82px var(--color1),
    0 0 92px var(--color1), 0 0 102px var(--color1), 0 0 151px var(--color1);
  transition: 0.3s;
}

body {
    padding-bottom: 70px;
    position: relative;
    background-image: url('../img/kino2.jpg');
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}